@model FM8020_MVC.Models.DefectViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>Hier sind sämtliche Meldungen einzusehen.</p>
</div>

<partial name="_DefectList" model="Model" />