@{
    ViewData["Title"] = "Facility Management";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>Das Facility Management der Fachhochschule Kiel ermöglicht dem Gebäudemanagement einen vereinfachten Workflow und bietet außerdem Studierenden der Fachhochschule Kiel die Möglichkeit, neue Mängel mithilfe eines QR-Codes zu melden.</p>
</div>
